<div class="container">
    <div class="register">
        <form [formGroup]="forgotPassForm">
            <h1 class="app-name">Instaclone</h1>
            <p class="having_issues">Enter your email, and we'll
             send you a link to get back into your account.</p>

            <span class="required"
            *ngIf="forgotPassForm.get('email').errors?.required && forgotPassForm.get('email').touched"
            >This field is required</span>
            <span class="required"
            *ngIf="forgotPassForm.get('email').errors?.email && forgotPassForm.get('email').touched"
            >Invalid email adress</span>
            <input type="password" 
            placeholder="Email" 
            formControlName="email"
            [ngClass]="{'invalid': forgotPassForm.get('email').errors && forgotPassForm.get('email').touched}">

            <button class="register_btn" 
            (click)="sendMail()" 
            [disabled]="forgotPassForm.invalid && forgotPassForm.touched"
            [ngClass]="{'disabled': forgotPassForm.invalid}"
            >Send login link</button>

            <div class="or_container">
                <div class="line"></div>
                <span>OR</span>
                <div class="line"></div>
            </div>
            <a class="reset" (click)="backToLogin()">Back to Login</a>

        </form>
    </div>
</div>
