<div class="post__container">
    <div class="poster">
        <div class="profile__container">
            <img src="/assets/images/Visit-Rwanda_-Lake-Kivu-Drone-of-Islands-700x525.jpg" 
            alt="someone's profile">
            <a routerLink = "">rba.rwanda</a>
        </div>
        <i class="fas fa-ellipsis-h"></i>
    </div>
    <div class="images__container">
        <img src="/assets/images/mika-baumeister-fsoqimtW8P4-unsplash.jpg" alt="photo" class="image">
    </div>
    <div class="icons__container">
        <div class="together_icons">
            <i class="far fa-heart"></i>
            <i class="far fa-comment"></i>
            <i class="far fa-paper-plane"></i>
        </div>
        <i class="far fa-bookmark"></i>
    </div>
    <div class="details__container">
        <p class="likes">
            123 likes
        </p>
        <p class="post__description">
            <span>rbarwanda</span> Baravuga ngo ntawe uhumeka, abantu bagenda batanga amafaranga, 
            uwarengeje ibilometero 40/hr. Uwo muvuduko banza ari nk’uwo bamwe mu bamenyereye 
            kugendesha amaguru tugenda. Ndakeka ko bashatse gutubura amafaranga cyane.
        </p>
        <a routerLink = "" class="view__comments">View all 22 comments</a>
        <p class="passed__time">1 HOUR AGO</p>
    </div>
    <div class="post__comment">
        <i class="far fa-smile"></i>
        <textarea name="" placeholder="Add Comment..."></textarea>
        <button>post</button>
    </div>
</div>