<app-navbar></app-navbar>
<div class="super__container">
    <div class="stories__posts__container">
        <app-stories></app-stories>
        <app-post></app-post>
        <app-post></app-post>
    </div>
    
    <div class="profle__suggestions__container">
        <div class="profile__container">
            <img src="assets/images/Visit-Rwanda_-Lake-Kivu-Drone-of-Islands-700x525.jpg" alt="profile pic">
            <div class="names">
                <p class="user__name">peter_mfitumukiza_6</p>
                <p class="full__name">Peter Mfitumukiza</p>
            </div>
            <button>Switch</button>
        </div>
        <div class="suggestions__container">
            <div class="heading">
                <p class="title">Suggestions For You</p>
                <p class="see__all">See All</p>
            </div>
            <div class="suggestion">
                <div class="suggestion__sub__container">
                    <img src="assets/images/Visit-Rwanda_-Lake-Kivu-Drone-of-Islands-700x525.jpg" alt="profile pic">
                    <div class="names">
                        <p class="user__name">peter_mfitumukiza_6</p>
                        <p class="followed__by">Followed by igihe +4 more</p>
                    </div>
                </div>
                <button>Follow</button>
            </div>
            <div class="suggestion">
                <div class="suggestion__sub__container">
                    <img src="assets/images/mika-baumeister-fsoqimtW8P4-unsplash.jpg" alt="profile pic">
                    <div class="names">
                        <p class="user__name">rpromesse</p>
                        <p class="followed__by">Follows you</p>
                    </div>
                </div>
                <button>Follow</button>
            </div>
            <div class="suggestion">
                <div class="suggestion__sub__container">
                    <img src="assets/images/Visit-Rwanda_-Lake-Kivu-Drone-of-Islands-700x525.jpg" alt="profile pic">
                    <div class="names">
                        <p class="user__name">rba</p>
                        <p class="followed__by">Followed by igihe +4 more</p>
                    </div>
                </div>
                <button>Follow</button>
            </div>
            <div class="suggestion">
                <div class="suggestion__sub__container">
                    <img src="assets/images/mika-baumeister-fsoqimtW8P4-unsplash.jpg" alt="profile pic">
                    <div class="names">
                        <p class="user__name">rpromesse</p>
                        <p class="followed__by">Follows you</p>
                    </div>
                </div>
                <button>Follow</button>
            </div>
            <div class="suggestion">
                <div class="suggestion__sub__container">
                    <img src="assets/images/Visit-Rwanda_-Lake-Kivu-Drone-of-Islands-700x525.jpg" alt="profile pic">
                    <div class="names">
                        <p class="user__name">rba</p>
                        <p class="followed__by">Followed by igihe +4 more</p>
                    </div>
                </div>
                <button>Follow</button>
            </div>
        </div>
    </div>
</div>