<div class="container">
    <div class="register">
        <form [formGroup]="changePasswordForm">
            <h1 class="app-name">Instaclone</h1>
            <p class="having_issues">Reset your password.</p>
            <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
                {{errorMessage}}
            </div>
            <span class="required"
            *ngIf="changePasswordForm.get('newPassword').errors?.required && changePasswordForm.get('newPassword').touched"
            >This field is required</span>
            <span class="required"
            *ngIf="changePasswordForm.get('newPassword').errors?.minlength && changePasswordForm.get('newPassword').touched"
            >Password must be at least 6 characters.</span>
            <input type="text"
            placeholder="New Password" 
            formControlName="newPassword"
            (focus)="errorMessage = ''"
            [ngClass]="{'invalid': changePasswordForm.get('newPassword').errors && changePasswordForm.get('newPassword').touched}">
            
            <span class="required"
            *ngIf="changePasswordForm.get('confNewPassword').errors?.required && changePasswordForm.get('confNewPassword').touched"
            >This field is required</span>
            <span class="required"
            *ngIf="changePasswordForm.get('confNewPassword').errors?.minlength && changePasswordForm.get('confNewPassword').touched"
            >Password must be at least 6 characters.</span>
            <input type="text"
            placeholder="Confirm New Password" 
            formControlName="confNewPassword"
            (focus)="errorMessage = ''"
            [ngClass]="{'invalid': changePasswordForm.get('confNewPassword').errors && changePasswordForm.get('confNewPassword').touched}">

            <button class="register_btn" 
            (click)="submit()" 
            [disabled]="changePasswordForm.invalid && changePasswordForm.touched"
            [ngClass]="{'disabled': changePasswordForm.invalid}"
            >
            <ng-container *ngIf="isChecking; else defaultText">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>     
            </ng-container>
            <ng-template #defaultText>Submit</ng-template>
            </button>

            <div class="or_container">
                <div class="line"></div>
                <span>OR</span>
                <div class="line"></div>
            </div>
            <a class="reset" (click)="backToLogin()">Back to Login</a>

        </form>
    </div>
</div>

