@import '../register/register.component.scss';
.container{
    width:100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1.app-name{
    margin-bottom: 1.5rem;
}
.register_btn{
    margin: .5rem 0;
}
.login_with_fb{
    width: 100%;
    background: transparent;
    color: #404487;
    border: none;
    font-size:14px;
    font-weight:bold;
    margin: 1.5rem 0;
}

a.reset{
    font-size: 13px;
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: center;
    color:#203f7a;
}

