@import '../register/register.component.scss';
@import url('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/css/bootstrap.min.css');
.container{
    width:100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1.app-name{
    margin-bottom: 1.5rem;
}
.register_btn{
    margin: .5rem 0;
}
.login_with_fb{
    width: 100%;
    background: transparent;
    color: #404487;
    border: none;
    font-size:14px;
    font-weight:bold;
    margin: 1.5rem 0;
}

a.reset{
    font-size: 13px;
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: center;
    color:#203f7a;
}

.invalidCred{
    text-align: center;
    border: 1px solid red;
    border-radius: 5px;
    padding: 6px;
    background-color: rgba(250, 108, 108, 0.623);
    margin-bottom: 10px;
}

.spinner-border{
    height: 23px;
    width: 23px;
}
::placeholder{
    // font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size:14px;
}